packages:
    rpm:
        monitor: http://example.walterdalmut.com/rpm/cloudwatch-agent-0.0.8-1.x86_64.rpm
container_commands:
    05_put_aws_key:
        command: echo "export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID" > /etc/default/cloudwatch-agent && echo "export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_KEY" >> /etc/default/cloudwatch-agent
    06_stop_monitor:
        command: service cw-agent stop
        ignoreErrors: true
    07_start_monitor:
        command: service cw-agent start
        ignoreErrors: true
services:
    sysvinit:
        cw-agent:
            enabled: true
            ensureRunning: true

